#brand-name{
	color:white;
}

#auto-colours{
	color:black;
	font-size:30px;
	padding-right:100%;
}

#time-stamp{
	color:black;
	font-size:12px;
}

#column-border{
	border-width:2px;
	border-color:black;
	border-left-style:solid;
}

#header-thing{
	border-color:gray;
	border-width:1px;
	border-style: solid;
	height:100%;
	margin:auto;
}

#pads{
	margin-bottom: 7px;
}

#margin-list{
	margin-right:5%;

	margin-top:5px;
}

.thumbnail{
	background: gray;
	height: 250px;
	border-width: 10px;
	border-color: black;
}

.thumbnail img{
	height: 80%;
	width: 90%;
}

.caption{
	position: absolute;
	bottom: 1%;
}

.page-header{
	margin-left:7%;
	margin-right:7%;
}
#blue-column{
	background-color: blue;
	height: 100px;
}

.padded-panel{
	margin-top: 5px;
}

#option-list li{
	border-style: none;
}

.most-voted{
	background-color: #EEEEEE;
}

.bordered-box{
	border-style: solid;
	border-width:1px;
	border-color: gray;
}

#panel-concerns{
	width:70%;
	height:80%;
	margin:auto;
}